/* footer */
footer {
  display: flex;
  flex-direction: row;
  border-top: 0.5px solid #d8d8d8;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
}

footer p {
  margin: 0;
  padding: 0;
  color: #888;
}

footer .menu-footer {
  flex-direction: row;
  gap: 16px;
}
footer .menu-footer a {
  text-decoration: none;
  color: #8a8a8a;
}
footer .menu-footer a:hover {
  text-decoration: none;
  color: #4b4b4b;
}

@media only screen and (min-width: 768px) {
  footer {
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
