/* section of thesis  */
main > section.thesis {
  background-color: #fff;
}
main > section.thesis > h2 {
  text-align: center;
  padding-bottom: 16px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: #4b4b4b;
}
main > section.thesis {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 24px;
}
main > section.thesis {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 24px;
}
main > section.thesis > .container .thesis-right-list,
main > section.thesis > .container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
main > section.thesis > .container .thesis-right-list {
  padding: 16px;
  max-height: 210px;
  width: 100%;
}
main > section.thesis > .container .thesis-right-list:hover {
  background: #d8d8d8;
  cursor: pointer;
}
main > section.thesis > .container .thesis-right-list .thesis-right-img {
  max-width: 35%;
  min-width: 35%;
  overflow: hidden;
}
main > section.thesis > .container .thesis-right-list .thesis-right-content {
  flex-grow: 1;
  overflow: hidden;
}
main > section.thesis > .container .thesis-right-list .thesis-right-img img {
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
}
main > section.thesis > .container .thesis-right-list .thesis-right-content {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main > section.thesis > .container .thesis-right-list .thesis-right-content h3 {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: #4b4b4b;
}
main > section.thesis > .container .thesis-right-list .thesis-right-content p {
  padding-top: 8px;
  padding-bottom: 0;
  margin: 0;
  color: #4b4b4b;
}
main > section.thesis > .container .thesis-right-list img {
  height: 100%;
  width: 100%;
}

main > section.thesis .thesis-vdo {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

main > section.thesis .thesis-vdo video {
  width: 100%;
}
.thesis-vdo-content {
  margin-top: 24px;
  flex-direction: column;
}
.thesis-vdo-name {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: #4b4b4b;
}
.thesis-vdo-description {
  padding: 8px 0 32px;
  margin: 0;
  color: #4b4b4b;
  opacity: 0.8;
}
@media only screen and (min-width: 768px) {
  main > section.thesis > h2 {
    margin-bottom: 32px;
  }
  main > section.thesis .thesis-vdo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px;
    width: 60%;
  }
  main > section.thesis .thesis-right {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
  }
}
